@import url(../css/bootstrap.css) layer(framework);

.page-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-color: #4e5d33;
}

ul{
    list-style: none;
    padding: unset;
    margin: unset;
}

li{
    padding: unset;
    margin: unset;
}

h1,h2,h3,h4,h5,h6{
    padding: unset;
    margin: unset;
}

/*tool card section*/

.container.toolBox{
    position: relative;
}
.ourToolBox{
    row-gap: 10px;
    flex-wrap: wrap;
}

.card{
    width: 250px;
    /*max-width: 250px;*/
    height: 325px;
    /*max-height: 325px;*/
    border: 2px solid thistle;
    background-color: #25002c;
    color: lightblue;
    border-radius: 10px;
    overflow: hidden;
    &:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}

.toolCardPictures{
    background-color: #a4a4a4;
    width: 100%;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.toolPic{
    display: flex;
    max-width: 100px;
    aspect-ratio: 1/1;
}

.toolTitle{
    background-color: #a4a4a4;
    width: 100%;
}

.toolDesc{
    background-color: #a4a4a4;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    word-break: break-all;
}

.toolProps{
    justify-content: space-between;
}

.cardDesc h5{
    font-size: 20px;
}

.toolPropsValues{
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.cardPropValues{

}

.cartOptions{
    justify-content: center;
    align-items: center;
}

.theSellCard{
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: 1;
    background-color: blueviolet;
    border-radius: 20px;
}

.exitSellCard{
    width: 30px;
    height: 30px;
    border-radius: 999px;
    transition: all ease .3s;
    border: 2px solid gray;
    padding: 0 0 3px 0;
    margin: unset;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
    right: 10px;
    &:hover{
        background-color: salmon;
    }
}



