@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*variables are declared at the top of your style sheet ALWAYS!!*/
:root{
    --clr-seconday: #FFC10C;
    --clr-primary: #4e5d33;
    --border-radius: 10px;
    --clr-secondary-light: #ffd46c;
}

body{
    font-family: 'roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Lobster', sans-serif;
}


/*basic selectors*/
/*target by element*/
a{
    color: inherit;/*makes a element inherit its parents property values*/
    text-decoration: unset;/*unset is available on all properties*/
}
/*target by class*/
/*page-wrapper has multiple containers which hold rows and rows have columns. */
/*to target a class use a "." preceding the class name*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header.container{
    justify-content: center;
}
header.container .row{
    align-items: center;
}
/*rows are responsible for making sure you elements dont go into your sidebars*/
header .row{
/*because this class is more specific to a element its properties would apply over the standard row class*/
}
.row{
    display: flex;
    width: 100%;
    max-width: 1100px;
    background-color: transparent;
}
/*last instruction given will be used because its more specific*/

/*target by ID (less common)*/
/*to select a ID use a octo thwart "#" before the ID name*/
#page-header{
    border-bottom: 1px solid #e5e5e5;
}
/*target everything */

/*to target everything use a "*" */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header img{
    width: 150px
}
/*use the ">" arrow symbol to be specific about which element your selecting*/
nav > ul {
    list-style: none;
    display: flex;
    font-weight: 600;
}
nav > ul > li {
    padding: 10px 20px;
}
nav > ul > li > ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    display: none;
}
/*refers to anything that has a class of container with a class of hero inside the same element*/
.container.hero{
    min-height: 100dvh;
    background-color: green;
    background-image: url("../img/pexels-yuting-gao-1737957.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn{
    background-color: var(--clr-seconday);
    padding: 10px 20px;
    font-weight: 300;
    border-radius: var(--border-radius);
    transition: all ease 0.5s;
}

/*sudo selector used to select a state of a element*/
.btn:hover{
    background-color: var(--clr-secondary-light);
}
