* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: lightskyblue;
    font-family: Chalkboard, sans-serif;
}

h1 {
    text-align: start;
}

h2, h3 {
    padding: 5px;
    margin: 5px;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.green-box {
    background: green;
    height: 1em;
    width: 2em;
}

.border {
    border: 2px solid black;
}

.card {
    width: 400px;
    height: 800px;
    background: white;
    padding: 1em;
    margin: 0 auto;
    /* enter needed declarations here */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    display: flex;
    /* enter needed declarations here */
}

section:nth-of-type(1) {
    align-items: center;
    justify-content: space-between;
    height: 3em;
    background: lightgreen;
    /* enter needed declarations here */
}
section:nth-of-type(1) div:last-child {
    align-self: start;
    /* enter needed declarations here */
}

.purple-box {
    background: fuchsia;
    width: 3em;
    height: 1em;
}

.purple-box:nth-of-type(1) {
    flex: 2 0 auto;
    /* enter needed declarations here */
}

.purple-box:nth-of-type(2) {
    flex: 1 0 auto;
    /* enter needed declarations here */
}

.blue-box {
    margin-top: 10px;
    width: 100%;
    background: blue;
    height: 10em;
}

section:nth-of-type(3) {
    justify-content: center;
    /* enter needed declarations here */
}

section:nth-of-type(3) h3 {
    flex: 3 0 0;
    /* enter needed declarations here */
}

.orange-circle {
    background: orange;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    margin: .5em;
}

/*section:nth-of-type(4){*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*}*/

.large-brown-box {
    flex: 1 0 0;
    height: 5em;
    width: 5em;
    background: brown;
    /* enter needed declarations here */
}

.large-brown-box:nth-of-type(2) {
    margin: 0 1em;
}

section:nth-of-type(5) {
    justify-content: space-evenly;
    padding: 5px;
    margin: 10px;
    /* enter needed declarations here */
}

.yellow-box {
    background: yellow;
    width: 2em;
    height: 2em;
}

section:nth-of-type(6) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: coral;
    height: 14em;
    /* enter needed declarations here */
}

.grey-box {
    align-self: center;
    background: grey;
    width: 3em;
    height: 3em;
}

.grey-box:nth-of-type(odd) {
    height: 4em;
}