
.headContainer{
    min-height: 100px;
}
.skipContent{
    position: absolute;
    top:-50px;
}
.headerH1{
    order: 1;
}
.navHeader{
    order: 2;
}

div.hero-img img{
    width: 100%;
}
.container.hero{
    margin-bottom: 30px;
}

.row.mainAnSub{
    gap: 50px;
}

footer.container{
}

footer div.row{
    min-height: 150px;
}

.socialMedia{
}

footer div.socialIcons img {
    width: 35px;
}

@media screen and (max-width: 800px){

    p{
        font-size: 18px;
        line-height: 1.0;
    }

    header.container .row{
        flex-direction: column;
        align-items: unset;
        margin-bottom: 10px;
        text-align: center;
        gap: 20px;
    }

    .skipContent{
        margin-top: 5px;
        position: static;
        background-color: lightblue;
        padding-top: 10px;
        padding-bottom: 10px;
        border: solid #a4a4a4;
    }
    .column.skipContent a{
        justify-content: center;
        display: flex;
    }

    .column.headerH1{
        align-items: unset;
        justify-content: unset;
    }

    header.container .column.navHeader {
        align-items: stretch;
    }

    ul.nav-links{
        flex-direction: column;
        gap: 15px;
    }

    ul.nav-links li{
        background-color: #a4a4a4;
        padding-top: 10px;
        padding-bottom: 10px;
        text-decoration: underline;
        color: darkblue;
    }
    ul.nav-links li a{
        display: flex;
        justify-content: center;
    }

    .column.heroColumn{
        margin-top: 15px;
    }

    .column.mainSection{
        margin-top: 10px;
    }
    .column.subSection{
        margin-top: 40px;
    }
    section#main .row{
        flex-direction: column;
    }

    footer.container .row{
        align-items: end;
    }
    .column.cRights{
        align-items: start;
    }

    .column div#social-media-links p{
        font-size: 10px;
    }
}