@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css") layer(framework);

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lobster&display=swap');

body{
    font-family: sans-serif;
    font-weight: 100;
    font-size: 15px;
    line-height: 1.5;
    color: darkorchid;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Lobster', sans-serif;
    color: darkmagenta;
}

h1{
    font-size: 60px;
}

.page-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.row{
    gap: 0;
    padding: 0;
    margin: 0;
}

p{
    margin: 0;
}

/*Header CSS*/
header.container{
    margin-bottom: 40px;
}

.aLine{
    border-bottom: 3px solid darkorchid;
    margin-top: 20px;
}

.col h1{
    margin-top: 20px;
    margin-bottom: 30px;
}

.col.about{
    margin-bottom: 40px;
}

.phoneicon{
    width:30px;
    aspect-ratio: 1/1;
}

.googleicon{
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 999px;
}

.linkedinIcon{
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 999px;
}

.githubIcon{
    width: 30px;
    aspect-ratio: 1/1;
}

/*About Me Section*/

